@page "/post/{postid}"

@using BlazBooru.Services
@inject BooruAPIService APIService

@if (file == "") {
    <h1>Nothing found.</h1>
}
else {
    <img class="booruImage" src="@file" alt="">
}

@code {
    [Parameter]
    public string PostId { get; set; }
    public string file { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var Data = await APIService.GetPostByIDAsync(PostId);
        file = $"http://localhost:5000/api/file/{Data.Image}"; 
        APIService.SetTags(Data.Tags.GroupBy(T => T.Type).ToArray());
    }
}